// 预警管理--模板管理
.new-build-add-item .el-button
  float: right
  width: 8%
  padding: 5px 0 !important
  margin-left: 2%
.new-build-add-item .el-form-item:nth-child(1)
  width: 16%
  float: left
  margin-bottom: 0
.new-build-add-item .el-form-item:nth-child(2)
  margin-left: 2%
  width: 62%
  margin-bottom: 0
  float: left
.new-build-add-item .el-form-item .el-form-item__content
  width: 100%
.new-build-container .el-checkbox
  margin-bottom: 10px
.new-build-container .dialog-province .el-checkbox
  margin-bottom: 0px
.new-build-container .el-checkbox-group
  text-align: left
.new-build-province .el-button
  width: 8%
  margin-left: 2%
  float: left
  padding: 5px 0 !important
.new-build-city .el-button
  width: 16%
  margin-left: 2%
  float: left
  padding: 5px 0 !important
.new-build-province .el-form-item__content
.new-build-city .el-form-item__content
  width: 100%
  float: left
  padding-left: 108px
  box-sizing: border-box
.new-build-province .el-form-item .el-form-item__content .el-input
  width: 90%
  float: left
.new-build-city .el-form-item .el-form-item__content .el-input
  width: 82%
  float: left
.new-build-issue .el-form-item .el-form-item__label
  width: 75px
.new-build-issue .el-form-item .el-form-item__content
  padding-left: 80px
  box-sizing: border-box
.spec-con .el-form-item .el-form-item__content
  margin-left: 46px
.warn-level-con .el-form-item .el-form-item__content
  margin-left: 70px
.spec-con .el-form-item
.warn-level-con .el-form-item
  margin-bottom: 0
.spec-con .el-form-item .el-form-item__label:before
.warn-level-con .el-form-item .el-form-item__label:before
  content: '*'
  color: #F56C6C
  margin-right: 4px
