.submain-container .el-container.is-vertical
  height: 100% !important
  overflow: hidden
  display: flex
  flex-direction: column
.submain-container .el-header+.el-main
  flex: 1
  height: auto
  line-height: 20px
.submain-container .el-header+.el-main .el-tabs
  height: 100%
  display: flex
  flex-direction: column
.submain-container .el-header+.el-main .el-table
  height: 100% !important
  overflow-y: auto


